@import 'tailwindcss';

@font-face {
  font-family: 'FK Grotesk';
  src: url('/fonts/FKGroteskTrial-Regular.otf') format('opentype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
  font-display: swap; /* Tells the browser how to handle loading */
}

.font-fk-grotesk {
  font-family: 'FK Grotesk', sans-serif;
}